*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}	


* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

a {
	cursor:pointer;
}

body {
	margin:20px;
	position:relative;
}



/* ------------------------- ICONS BAR ---------------------------- */

#icons_bar {
	position:fixed;
	top:0;
	right:0;
	background-color:#E5E5E5;
	width:42px;
	height:100%;
	padding-top:30px;
	border-left:#999;
	text-align:center;
}

#icons_bar img {
	padding:2px 4px 2px 4px;
}

#icons_bar img:hover {
	background-color:#FFF;
	cursor:pointer;
}

/* ------------------------- OPTIONS BAR ---------------------------- */

#options_bar {
	position:fixed;
	left:0;
	bottom:0;
	background-color:white;
	width:100%;
	line-height:250%;
	padding-left:5px;
	font-size:12px;
	border-top:1px solid #888;
	border-bottom:1px solid #888;
}

#options_bar span {
	margin-left:4px;
	padding:2px 5px 0 5px;
	background-color:#E5E5E5;
	border:1px solid #DDD;
	display:inline-block;
	min-height:20px;
	line-height:120%;
	font-family:Arial;
	font-size:12px;
}

#options_bar img {
	cursor:pointer;
	margin:0 5px 0 5px;
}

#options_bar input[type=checkbox] {
	transform: scale(.8);
	vertical-align:middle;
} 
#options_bar button, 
#options_bar select {
	font-size:11px;
	margin-bottom:1px;
}

/* -------------------------  DASH PANEL ------------------------------- */

#dash_panel_toggle {
	position:fixed;
	z-index:9000;
	text-align:center;
	top:0;
	right:0;
	width:42px;
	background-color:black;
	font-family:Verdana;
	font-size:12px;
	padding:1px 2px 2px 5px;
	color:white;
	cursor:pointer;
	transition:.5s;
}

#dash_panel_wrapper {
	position:fixed;
	top:0;
	right:44px;
	transition:.2s;
	overflow:auto;
	max-height:96vh;
}

#dash_panel {
	font-family:arial;
	font-size:13px;
	max-width:300px;
	margin:0 auto;
	background-color:#DDD;
	padding:10px 10px 5px 10px;
	overflow:auto;
	border-bottom-left-radius:10px;
	box-shadow:0 0 3px #555;
	
}

#menu_icons {
	text-align:center;
	line-height:200%;
	padding-top:7px;
	margin-bottom:7px;
	background-color:Beige;
	border-radius:5px;
	
}

#menu_icons img {
	cursor:pointer;
}

h4 {
	background-color:dodgerblue;
	border-bottom:1px solid #FFF;
	color:white;
	text-align:center;
	padding:7px;
	margin:0;
	cursor:pointer;
}


h4#box_heading {background-color:cornflowerblue;}
h4#utility_heading {background-color:Black;}
h4#wrapper_heading {background-color:DarkBlue;}
h4#size_heading {background-color:Brown;}
h4#layout_heading {background-color:Purple;}
h4#border_heading {background-color:DarkGreen;}
h4#font_heading {background-color:DarkCyan;}
h4#color_heading {background-color:Tomato;}
h4#art_heading {background-color:Olive;}
h4#shape_heading {background-color:DodgerBlue;}
h4#text_shadow_heading {background-color:SlateBlue;}
h4#box_shadow_heading {background-color:Indigo;}
h4#transform_heading {background-color:SaddleBrown;}

#dash_panel h5 {
	font-size:100%;
	text-align:center;
	margin:5px 0 2px 0;
	background-color:white;
}

#dash_panel nav {
	overflow:hidden;
	opacity:0;
	max-height:0;
	transition:.5s;
	background-color:#EEE;
}

#dash_panel .tip_note {
	margin:0;
	padding:2px;
	line-height:100%;
}

#box_section {
	text-align:center;
}

#box_section img {
	margin:7px 5px 5px 5px;
	cursor:pointer;
}

#dash_panel footer {
	padding:5px;
	line-height:200%;
	overflow:auto;
	max-height:70vh
}

#dash_panel footer article {
	overflow:auto;
}

#dash_panel footer article address {
	float:left;
	margin:3px;
	width:36px;
	height:36px;
	cursor:pointer;
}
#dash_panel footer article address table {
	width:100%;
	height:100%;
}

#dash_panel footer article address td {
	border:1px solid #0090fa;
	padding:0;
	line-height:0;
}

#dash_panel footer article address .shape {
	display:inline-block;
	background-color:#0090fa;
	width:100%;
	height:100%;
}

#dash_panel .icon_links address {
	background-color:white;
	padding:5px 5px 5px 10px;
	border-bottom:2px solid #CCC;
	font-style:normal;
	color:navy;
	cursor:pointer;
}

#dash_panel .icon_links address img {
	vertical-align:middle;
	margin-right:7px;
	cursor:pointer;
}

.section_table {
	font-family:arial;
	font-size:12px;
	margin:0 auto;
	width:100%;
}

.section_table td {
	border-top:1px solid white;
	padding:0 2px 0 2px;
	vertical-align:middle;
	text-align:left;
}

.section_table td:first-child {
	background-color:#777;
	color:white;
	padding-top:3px;
	padding-bottom:3px;
	
}

.section_table td:last-child {
	line-height:25px;
}


.section_table td img {
	vertical-align:middle;
	margin-right:3px;
	cursor:pointer;
}


.section_table td .border_shape {
	display:inline-block;
	border:2px solid #0090fa;
	width:20px;
	height:16px;
	margin:2px;
	cursor:pointer;
}

.section_table td .border_width {
	background-color:#0090fa;
	display:inline-block;
	cursor:pointer;
	width:20px;
	vertical-align:middle;
}



/*
td .colors {
	max-width:280px;
	overflow-x:scroll;
	white-space:nowrap;
}

td .colors span {
	border-radius:10px;
	height:15px;
	width:15px;
	display:inline-block;
	cursor:pointer;
}
*/


input, select, button {
	font-size:12px;
	border:1px solid #AAA;
}

button {
	padding:0 5px 0 5px;
}

input[type=text] {
	max-width:100px;
}

input[type=button] {
	padding:4px 10px 4px 10px;
	font-size:15px;
	border:none;
	border-radius:5px;
	cursor:pointer;
}


input[type=number] {
	width:48px;
}

input[type=color] {
	width:20px;
	height:20px;
	padding:0;
}

input.width3 {
	width:75%;
}

.center {
	text-align:center;
}

.full_width {width:100%;}
.w20 {width:20px;}
.w30 {width:30px;}
.w40 {width:40px;}
.w50 {width:50px;}

/* -------------------------  POPUP PANEL ------------------------------- */

#popup_panel {
	font-family:Arial;
	font-size:11px;
	position:fixed;
	z-index:9000;
	width:100%;
	height:200px;
	left:0;
	bottom:-200px;
	border-top:1px solid dodgerblue;
	padding:10px 50px 10px 10px;
	background-color:#F2F2F2;
	line-height:200%;
	transition:.5s;
	overflow:auto;
}

#popup_panel div + div {
	display:none;
}

#hide_popup_panel {
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
	background-color:grey;
	color:white;
	padding:0 5px 0 5px;
}

#color_pallette span {
	display:inline-block;
	width:16px;
	height:16px;
	cursor:pointer;
	border:1px solid #AAA;
}



/* ------------------------- WRAPPER / PAGE ------------------------------- */

#wrapper {
	position:relative;
	margin-bottom:50px;
	z-index:0;
}

#wrapper_bg1,
#wrapper_bg2 {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:url() top left no-repeat;
	background-size:100% 100%;
}

#wrapper section {
	position:absolute;
}

#wrapper .move {
	visibility:hidden;
	position:absolute;
	background-color:orange;
	border:2px solid navy;
	border-radius:20px;
	cursor:move;
	width:16px;
	height:16px;
	z-index:11000;
}

#wrapper .resize {
	visibility:hidden;
	position:absolute;
	cursor:move;
	z-index:10000;
	width:14px;
	height:14px;
	border-radius:20px;
	background-color:black;
	border:2px solid white;
}

#wrapper section::-webkit-resizer {
	border-radius:20px;
	background-color:black;
	border:2px solid white;
}


#wrapper section table {
	width:100%;
	border-collapse:collapse;
	box-sizing:border-box;
}



.show_left {
  -webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.show_right {
  -webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.show_top {
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.show_bottom {
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.clip_text {
    color:transparent !important;
    -webkit-background-clip:text !important;
    background-clip:text !important;
}




@media print {

	#dash_panel_toggle,
	#dash_panel,
	span {
		display:none;
	}
	
	section {
		outline:none !important;
	}

}






