*, *::after, *::before {
	-webkit-user-select: none;
	/*-webkit-user-drag: none;*/
	-webkit-app-region: no-drag;
	cursor: default;
}	

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

a {
	cursor:pointer;
}

body {
	margin:20px;
	position:relative;
}

.clip_text {
    color:transparent !important;
    -webkit-background-clip:text !important;
    background-clip:text !important;
}

/* ------------------------- WRAPPER / PAGE ------------------------------- */

#wrapper {
	position:relative;
	margin-bottom:50px;
	box-sizing:content-box !important;
}

#wrapper_bg1,
#wrapper_bg2 {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:url() top left no-repeat;
	background-size:100% 100%;
}

.wrapper_bg_left {
  -webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.wrapper_bg_right {
  -webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.wrapper_bg_top {
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.wrapper_bg_bottom {
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#wrapper section {
	position:absolute;
}

#wrapper .move {
	visibility:hidden;
	position:absolute;
	background-color:orange;
	border:2px solid navy;
	border-radius:20px;
	cursor:move;
	width:16px;
	height:16px;
	z-index:11000;
}

#wrapper .resize {
	visibility:hidden;
	position:absolute;
	cursor:move;
	z-index:10000;
	width:14px;
	height:14px;
	border-radius:20px;
	background-color:black;
	border:2px solid white;
}

#wrapper section::-webkit-resizer {
	border-radius:20px;
	background-color:black;
	border:2px solid white;
}


#wrapper section table {
	width:100%;
	height:99%;
	border-collapse:collapse;
}

/* -------------------------- BOX LIST --------------------------------- */

#boxes_panel_toggle {
	position:fixed;
	z-index:9000;
	top:3px;
	left:3px;
	font-family:Verdana;
	font-size:12px;
	cursor:pointer;
	transition:.5s;
	display:none;
}


#boxes_panel {
	font-family:arial;
	font-size:13px;
	position:fixed;
	z-index:8000;
	top:0;
	left:-320px;
	height:100%;
	width:320px;
	background-color:#EEE;
	padding:10px 0 0 0;
	overflow:auto;
	border-right:5px solid dodgerblue;
	transition:.5s;
}
#boxes_panel ul {
	padding:0;
}

#boxes_panel ul li {
	background-color:white;
	margin-bottom:5px;
	width:100%;
	max-width:100%;
	height:50px;
	max-height:50px;
	list-style:none;
	cursor:pointer;
}

/* -------------------------  DASH PANEL ------------------------------- */

#dash_panel_toggle {
	position:fixed;
	z-index:9000;
	text-align:center;
	top:0;
	right:0;
	background-color:cornflowerblue;
	font-family:Verdana;
	font-size:12px;
	padding:1px 2px 2px 5px;
	border-bottom-left-radius:2px;
	color:white;
	cursor:pointer;
	transition:.5s;
}

#dash_panel_wrapper {
	position:fixed;
	top:0;
	right:0;
	transition:.2s;
}

#dash_panel {
	font-family:arial;
	font-size:13px;
	max-width:300px;
	margin:0 auto;
	background-color:#DDD;
	padding:10px 10px 5px 10px;
	overflow:auto;
	border-bottom-left-radius:10px;
	box-shadow:0 0 3px #555;
}

#menu_icons {
	text-align:center;
	line-height:200%;
	padding-top:7px;
	margin-bottom:7px;
	background-color:Beige;
	border-radius:5px;
	
}

#menu_icons img {
	cursor:pointer;
}

h4 {
	background-color:dodgerblue;
	border-bottom:1px solid #FFF;
	color:white;
	text-align:center;
	padding:7px;
	margin:0;
	cursor:pointer;
}


h4#box_heading {background-color:cornflowerblue;}
h4#utility_heading {background-color:Black;}
h4#wrapper_heading {background-color:DarkBlue;}
h4#size_heading {background-color:Brown;}
h4#layout_heading {background-color:Purple;}
h4#border_heading {background-color:DarkGreen;}
h4#font_heading {background-color:DarkCyan;}
h4#color_heading {background-color:Tomato;}
h4#art_heading {background-color:Olive;}
h4#shape_heading {background-color:DodgerBlue;}
h4#text_shadow_heading {background-color:SlateBlue;}
h4#box_shadow_heading {background-color:Indigo;}
h4#transform_heading {background-color:SaddleBrown;}

#dash_panel > div {
	overflow:hidden;
	opacity:0;
	max-height:0;
	transition:.5s;
	background-color:#EEE;
}

#dash_panel .tip_note {
	margin:0;
	padding:2px;
	line-height:100%;
}

#box_section {
	text-align:center;
}

#box_section img {
	margin:7px 5px 5px 5px;
	cursor:pointer;
}

.utility_table {
	width:100%;
	border-collapse:collapse;
}

.utility_table td {
	background-color:white;
	padding:5px 5px 5px 10px;
	border-bottom:2px solid #CCC;
}

.utility_table a,
.utility_table span {
	color:navy;
	text-decoration:none;
	cursor:pointer;
}

.utility_table td img {
	vertical-align:middle;
	margin-right:7px;
	cursor:pointer;
}

.section_table {
	font-family:arial;
	font-size:12px;
	margin:0 auto;
	width:100%;
}

.section_table td {
	border-top:1px solid white;
	padding:0 2px 0 2px;
	vertical-align:middle;
}

.section_table td:first-child {
	background-color:#777;
	color:white;
	padding-top:3px;
	padding-bottom:3px;
}

.section_table td:last-child {
	line-height:25px;
}


.section_table td img {
	vertical-align:middle;
	margin-right:3px;
	cursor:pointer;
}

.section_table td .shape {
	display:inline-block;
	background-color:#0090fa;
	width:35px;
	height:25px;
	margin:4px;
	cursor:pointer;
}

/*
td .colors {
	max-width:280px;
	overflow-x:scroll;
	white-space:nowrap;
}

td .colors span {
	border-radius:10px;
	height:15px;
	width:15px;
	display:inline-block;
	cursor:pointer;
}
*/


input, select, button {
	font-size:12px;
	border:1px solid #AAA;
}

button {
	padding:0 5px 0 5px;
}

input[type=text] {
	max-width:100px;
}

input[type=button] {
	padding:4px 10px 4px 10px;
	font-size:15px;
	border:none;
	border-radius:5px;
	cursor:pointer;
}

input[type=range] {
	width:100%;
}

input[type=number] {
	width:48px;
}

input[type=color] {
	width:20px;
	height:20px;
	padding:0;
}

input.width3 {
	width:75%;
}

.center {
	text-align:center;
}


/* -------------------------  POPUP PANEL ------------------------------- */

#popup_panel {
	font-family:Arial;
	font-size:11px;
	position:fixed;
	z-index:9000;
	width:100%;
	height:200px;
	left:0;
	bottom:-200px;
	border-top:1px solid dodgerblue;
	padding:10px 50px 10px 10px;
	background-color:#F2F2F2;
	line-height:200%;
	transition:.5s;
	overflow:auto;
}

#popup_panel div + div {
	display:none;
}

#hide_popup_panel {
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
	background-color:grey;
	color:white;
	padding:0 5px 0 5px;
}

#color_pallette span {
	display:inline-block;
	width:16px;
	height:16px;
	cursor:pointer;
	border:1px solid #AAA;
}

#graphics_panel span {
	display:inline-block;
	vertical-align:middle;
	margin:2px;
}

#graphics_panel span img {cursor:pointer;}

#graphics_panel .tab_btns {
	margin:0 auto;
	border-bottom:5px solid PowderBlue;
	border-left:5px solid PowderBlue;
	padding:0;
	overflow:auto;
	background-color:#FFF;
}

#graphics_panel .tab_btns li {
	float:left;
	list-style:none;
	padding:2px 7px 2px 7px;
	border-right:5px solid PowderBlue;
}

#graphics_panel .tab_btns li:hover {
	background-color:PowderBlue;
	cursor:pointer;
}

#graphics_panel .tab_panels {
	
	box-sizing:border-box;
	border:1px solid PowderBlue;
	margin:0 auto;
}

#graphics_panel .tab_panels aside {
	display:none;
	background-color:PowderBlue;
	padding:10px;
}






@media print {

	#dash_panel_toggle,
	#dash_panel,
	span {
		display:none;
	}
	
	section {
		outline:none !important;
	}

}






