body {
	margin:0;
	width:auto;
	font-family:arial;
	font-size:14px;
	padding-top:46px;
}

p {
	line-height:150%;
}

header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	display:flex;
	justify-content:left;
	align-items:center;
	background-color:black;
	border-bottom:1px solid #777;
	padding:10px 15px 10px 15px;
	z-index:2000;
}

header #logo {
	vertical-align:middle;
	margin-right:20px;
}

header a {
	color:lightblue;
	border:1px solid lightblue;
	padding:5px;
	text-decoration:none;
	margin-right:10px;
	transition:.5s;
}

header a:hover {
	color:navy;
	background-color:lightblue;
}

main {
	font-size:15px;
}

td {
	vertical-align: top;
}

.pad5 {padding:5px;}
.pad10 {padding:10px;}
.pad20 {padding:20px;}
.pad50 {padding:50px;}
.pad100 {padding:100px;}

.padtop5 {padding-top:5px;}
.padtop10 {padding-top:10px;}
.padtop20 {padding-top:20px;}

.padleft5 {padding-left:5px;}
.padleft10 {padding-left:10px;}
.padleft20 {padding-left:20px;}
.padleft50 {padding-left:50px;}

.padright5 {padding-right: 5px;}
.padright10 {padding-right: 10px;}
.padright20 {padding-right: 20px;}
.padright50 {padding-right: 50px;}

.mnw100 {min-width:100px;}
.mnw200 {min-width:200px;}
.mnw300 {min-width:300px;}

.mxw100 {max-width:100px;}
.mxw200 {max-width:200px;}
.mxw300 {max-width:300px;}
.mxw500 {max-width:500px;}

#message {
	color:green;
	font-weight:bold;
	padding:20px;
}


#settings input[type=number] {
	max-width:70px;
}


#designs_table {
	width:100%;
	border-collapse:collapse;
	min-height:90vh;
}

#designs_table td {
	vertical-align:top;
	box-sizing:border-box;
}

#designs_table td:first-child {
	background-color:#DDD;
	padding:7px 15px 15px 7px;
	width:170px;
}

#folder_label {
    width:100%;
    position:fixed;
    margin-top:2px;
    z-index:2000;
	background-color:lightblue;
}

#folder_label div {
	padding:5px 10px 5px 10px;
}

#folder_label b {
	font-size:170%;
	margin-right:10px;
}

#folder_label #delete_folder {
	background-color:#cae6ef;
	color:rgb(120,0,0);
	padding:1px 3px 1px 3px;
	cursor:pointer;
	font-weight:bold;
	font-size:90%;
}

#folder_label #rename_folder {
	background-color:#cae6ef;
	color:rgb(0,120,0);
	padding:1px 3px 1px 3px;
	cursor:pointer;
	font-weight:bold;
	font-size:90%;
}

#folders_wrapper {
	position:fixed;
	overflow:auto;
}

#folders div {
	margin:0 0 5px 0;
	cursor:pointer;
	padding:3px 0 3px 3px;
	border-radius:5px;
}

#folders div:hover {
	background-color:white;
}

#folders a {
	text-decoration:none;
	color:navy;
	padding:1px 2px 1px 2px;
}

#folders img {
	max-height:14px;
	vertical-align:middle;
	margin-right:5px;
}

input#search {
	font-size:110%;
}

#folders #icon_folder_new {
	max-height:24px;
	cursor:pointer;
	margin:5px 0 0 7px;
}

#folders span {
	font-size:70%;
	margin-right:5px;
	cursor:pointer;
	color:white;
	background-color:#888;
	padding:1px 2px 1px 2px;
}


#designs {
	zoom:10%;
	-moz-transform: scale(.10, .10);
	-moz-transform-origin:0 0;
	display:flex;
	flex-wrap:wrap;
	padding-top: 400px;
}

.wrapper {
	position:relative;
	margin:100px;
	cursor:pointer;
	overflow:hidden;
}
.wrapper section {
	position:absolute;
	outline:none !important;
	cursor:pointer;
	
}
.wrapper span {
	display:none;
}

#message {
	padding:5px;
	min-height:30px;
	color:green;;
	font-weight:bold;
}

#storage_space {
	margin-top:15px;
	border-top:1px solid #BBB;
	padding-top:10px;
}

#storage_space div {
	color:#555;
	font-size:90%;
	padding-left:5px;
}



#disclaimer {
	font-family:mehr-nastaliq;
	max-width:700px;
	padding:30px;
	box-sizing:border-box;
	font-size:140%;
	line-height:140%;
}

#disclaimer h1,h2,h3 {
	line-height:130%;
	color:#333;
}

#disclaimer p {
	margin:0;
}

#disclaimer a {
	text-decoration:none;
}

#flagcounter {
	 margin-top:20px;
}

#flagcounter img {
	max-width:100%;
}

.loader {
	width:100%;
	height:8px;
	margin-top:8px;
}

#fonts {
	font-size:120%;		
	line-height:170%;
	padding-bottom:50px;
}

#fonts .google {
	font-size:80%;
	color:blue;
}

#fonts .installed {
	font-size:80%;
	color:forestgreen;
}

.delete {
	cursor:pointer;
	padding-right:10px;
	color:red;
}


@media only screen and (max-width: 970px) {

	#designs_table td:first-child {
		display:none;
	}
	
	#disclaimer {
		font-size:130%;
	}
}
