#fonts {
	font-size:120%;		
	line-height:170%;
	padding-bottom:50px;
}

#fonts .google {
	font-size:80%;
	color:blue;
}

#fonts .installed {
	font-size:80%;
	color:forestgreen;
}

.delete {
	cursor:pointer;
	padding-right:10px;
	color:red;
}
